
body {margin:0; box-sizing: border-box;}

.navbar{
  display: flex;
  background-color:rgb(100, 0, 167);
  position: fixed;
  top:0;
  width: 100%;
  font-size: 20px;
}

.nav-right{
  text-align: right;
  float:right;
}

.nav-right li {
    display: inline;
    float: left;
    padding-left: 15px;
  }

  .nav-right li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color:white;
  }

  .nav-right  li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  .nav-right li a:hover {
    background-color: rgb(57, 0, 95);
  }

  .nav-right .active {
    background-color: #04AA6D;
  }

.section-body{
    
    padding-top: 30px;
    padding-left: 15px;
}
.section-body h4{
    font-size: large;
}

.vertical-nav
{
    padding-top: 10px;
}


.section-body ul {
    list-style-type: none;
    width: 18%;
    background-color: #d6e4f0;
    position: fixed;
    height: auto;
    overflow: auto;
  }
  
  .section-body  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .section-body li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .section-body li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .image-holder{
    border: 1px solid #ccc;
    transition-duration:200ms;
    transition-timing-function: ease-out;
  }
  
  .image-holder:hover {
    border: 1px solid #777;
    transform: scale(1.05,1.05);
  }
  
.gallery{
    
    display: flex;
    flex-direction: row; 
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 10px;
}

div.desc {
    text-align: center;
    width: 100%;
 }

 .desc i{
    float: left !important;
    padding-left: 10px;
 }

 .desc button{
    float:right !important;
    margin-right: 10px;
    margin-bottom: 5px;
 }

.gallery img{
    height: 250px;
    width:200px;
}

.btn
{
    display: block;
    border-radius: 5px;
    color:white;
    background-color: blue;
    font-size:20px;
    text-decoration: none;
    width:fit-content;
    height:fit-content;
    padding:5px;
}

.btn:hover{
    background-color: rgb(31, 199, 106);
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 20px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 20px;
  background: #ddd;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: right;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: right;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

  .green {
    color: #03a685;
  }
  
  .wrapper {
    width: 430px;
    height: auto;
    padding: 15px;
    margin: 50px auto;
    position: relative;
  }
  
  .wrapper .header_title {
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .product_wrap,
  .price_details {
    width: 100%;
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .product_wrap .product_info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .product_wrap .product_info img {
    display: block;
  }
  
  .product_wrap .product_info .description {
    margin-bottom: 10px;
  }
  
  .product_wrap .product_info .description .title {
    font-weight: 700;
  }
  
  .product_wrap .product_info .description .sub_title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
  }
  
  .product_wrap .product_info .description .soldby {
    color: #adadad;
    font-size: 12px;
  }
  
  .product_wrap .product_info .size_qty,
  .product_wrap .product_info .price {
    display: flex;
    margin-bottom: 10px;
  }
  
  .product_wrap .product_info .size_qty > div {
    margin-right: 10px;
    background: #e4e4e4;
    padding: 2px 10px;
    border-radius: 3px;
    font-weight: 700;
    padding-right: 25px;
    position: relative;
    cursor: pointer;
  }
  
  .product_wrap .product_info .size_qty > div:before {
    content: "";
    position: absolute;
    top: 10px;
    right: 8px;
    border: 5px solid;
    border-color: #000 transparent transparent transparent;
  }
  
  .product_wrap .product_info .price .current_price {
    font-weight: 700;
    margin-right: 10px;
  }
  
  .product_wrap .product_info .price .normal_price {
    color: #adadad;
    margin-right: 10px;
    text-decoration: line-through;
  }
  
  .product_wrap .product_info .price .discount {
    color: #f16565;
  }
  
  .product_wrap .product_btns {
    display: flex;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e4e4e4;
  }
  
  .product_wrap .product_btns > div {
    padding: 5px 15px;
    cursor: pointer;
  }
  
  .product_wrap .product_btns > div:hover {
    background: #efefef;
  }
  
  .product_wrap .product_btns .remove {
    width: 40%;
    border-right: 1px solid #e4e4e4;
  }
  
  .product_wrap .product_btns .wishlist {
    width: 60%;
  }
  
  .price_details .item,
  .price_details .total {
    display: flex;
    justify-content: space-between;
  }
  
  .price_details .item {
    margin-bottom: 10px;
  }
  
  .price_details .total {
    padding-top: 10px;
    border-top: 1px solid #e4e4e4;
    font-weight: 700;
  }
  
  .price_details .item a {
    color: #ff3f6c;
  }
  
  .price_details .item a:hover {
    text-decoration: underline;
  }
  
  .sliders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .sliders .bg_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
  }
  
  .sliders .select_size,
  .sliders .select_quantity {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
  }
  
  .sliders .header {
    padding: 10px 15px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
  }
  
  .sliders .header .close {
    cursor: pointer;
  }
  
  .sliders .footer .btn {
    background: #ff3f6c;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  .sliders .body ul {
    display: flex;
    padding: 10px 15px 15px;
  }
  
  .sliders .body ul li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .sliders .body ul li.active,
  .sliders .body ul li:hover {
    border-color: #ff3f6c;
    color: #ff3f6c;
  }
  
  .sliders.active {
    display: block;
  }